@import 'reset';

body {
    padding-top: 50px;
}

#divTotal {
    background-color: green;
}

.affix {
    right: 0px;
}

.affix-top {
    right: 0px;
    position: fixed;
}

.scroll-debug {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* -- */

@import 'bourbon/_bourbon'; // http://bourbon.io/
@import '../partials/variables';
.slider {
    width: 100%;
    background: white;
    height: 100%;
    position: relative;
    overflow: hidden;
    ul {
        padding: 0px;
        li {
            float: left;
            height: 100.1%;
            img {
                height: 100px ;
            }
        }
    }
    li { list-style: none; }
    .control{
        position:absolute; top:45%; width:100%; height:60px;
        .mbtn {
            width:20px; height:60px !important;
            padding-right:20px;
            padding-left:5px;
            color:black;
            font-size:34px;
            text-align: center;
            cursor:pointer;
        }
        .mbtn:hover {
            color: orange;
        }
        .dx {
            float:right;
        }
        .sx {
            float:left;
        }
    }
}

.cd-item-info {
	height: 90px;
	line-height: 90px;
	padding: 0 2em;
	@include clearfix;

	b, .cd-price, .cd-new-price {
		font-weight: bold;
		font-size: 2rem;
	}

	b {
		float: left;

		a {
			color: $color-1;
		}
	}

	.cd-price, .cd-new-price {
		float: right;
	}

	.cd-price {
		color: $color-2;
		position: relative;
		margin-left: 10px;
		@include transition(color .2s);

		&::after {
			content:'';
			position: absolute;
			left: 0;
			height: 2px;
			width: 0%;
			background-color: $color-2;
			opacity: 0;
			@include transition(width .2s 0s, opacity 0s .2s);
		}

		&.on-sale::after {
			opacity: 1;
			width: 100%;
			@include transition(width .2s 0s, opacity 0s 0s);
		}
	}

	.cd-new-price {
		color: $color-4;
		opacity: 0;
		@include transform(translateX(5px));
		@include transition(transform .2s, opacity .2s);

		&.is-visible {
			@include transform(translateX(0));
			opacity: 1;
		}
	}
}
