 <div class="container" ng-controller="ProductsCtrl">

      <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body row" ng-repeat="(key, value) in products">

                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        <span class="btn btn-info btn-xs" ng-click="openItem(value.sku)">open</span>
                        <span ng-bind="value.sku"></span> :
                        <span ng-bind="value.name"></span>
                        <span ng-bind="value.value"></span>
                        <span class="btn btn-danger btn-xs" ng-click="addToCart(value.sku)">
                            buy <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        </span>

                    </div>

                </div>
            </div>
          </div>
     </div>

</div><!-- /.container -->
