 <div class="container">
      <div class="row">

        <div ng-controller="ProductsCtrl" class="col-xs-9 col-md-9 col-sm-9 col-lg-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body row" >



                    <style>
                        .galleria, .galleria img {
                            height:100px !important;
                        }
                    </style>
                    <ul class="cd-gallery" ng-repeat="(key, value) in products">
                            <li>
                                <div class="slider">
                                    <ul>
                                        <li>
                                            <img src="img/ugmonk-tshirt-1.jpg" alt="Preview image">
                                        </li>
                                        <li>
                                            <img src="img/ugmonk-tshirt-2.jpg" alt="Preview image">
                                        </li>
                                        <li>
                                            <img src="img/ugmonk-tshirt-3.jpg" alt="Preview image">
                                        </li>
                                    </ul>

                                    <div class="control">
                                        <div class="mbtn dx" id="s5d">{</div>
                                        <div class="mbtn sx" id="s5s">}</div>
                                    </div>
                                </div>

                                <div class="cd-item-info">
                                    <span ng-bind="value.sku"></span> -
                                    <b><span ng-bind="value.name" ng-click="openItem(value.sku)" ></span></b>

                                    <em class="cd-price" ng-bind="value.value"></em>

                                    <span class="btn btn-info btn-xs" ng-click="openItem(value.sku)">open</span>

                                    <span class="btn btn-danger btn-xs" ng-click="addToCart(value.sku)">
                                        buy <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </li>
                    </ul>




                </div>

            </div>
          </div>
          <div ng-controller="CartCtrl" class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
              <div ng-include="template"></div>
          </div>

     </div>
</div><!-- /.container -->
